@import '_vars.scss'; // импорт переменных, просто ставим переменную где хотим.
@import '_mixnis.scss'; // импорт микинов(функций) использование будет через @include
@import 'reset.scss';

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap" rel="stylesheet');

body {
    background: #e9e9e9;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 150px;

    .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        padding: 24px;

        .card__main {

            border-bottom: 1px solid rgb(214, 212, 212);
            margin-bottom: 1rem;

            .card__name {
                margin-bottom: 3.5rem;
                font-family: 'Lemonada', cursive;

            }

            .card__title {
                margin-bottom: 1rem;
                font-family: 'Lemonada', cursive;
            }

            .card__input {
                margin-bottom: 1.75rem;

                .card__task {
                    padding: 8px 20px;
                    display: block;
                    border: none;
                    border-bottom: 1px solid #ccc;
                    width: 100%;
                    border-color: gray;
                    color: gray;
                }

                .card__task:focus {
                    outline-color: #26a69a;
                }

                .card__task:hover {
                    border-color: #26a69a;

                }
            }

            .card__btn_add {
                color: #fff;
                background-color: #26a69a;
                text-align: center;
                letter-spacing: .5px;
                width: 35%;
                padding: 10px;
                font-size: 16px;
                border-radius: 5px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                margin-bottom: 1.5rem;
                transition: all 0.2s;
            }

            .card__btn_add:hover {
                background: #29caba;
                cursor: pointer;
            }
        }

        .card__action {
            .card__title {
                margin-bottom: 1rem;
                font-family: 'Lemonada', cursive;
            }

            .card__filter {
                margin-bottom: 1.75rem;

                .card__search {
                    padding: 8px 20px;
                    display: block;
                    border: none;
                    border-bottom: 1px solid #ccc;
                    width: 100%;
                    border-color: gray;
                    color: gray;
                }

                .card__search:focus {
                    outline-color: #26a69a;
                }

                .card__search:hover {
                    border-color: #26a69a;
                }

            }

            .card__collection {
                font-family: 'Lemonada', cursive;


                .card__taskItem {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    padding: 10px 20px;
                    border: 1px solid gray;
                    align-items: center;

                    .card__itemName {}

                    .card__delete {

                        position: relative;
                        // margin: auto;
                        width: 22px;
                        height: 35px;
                        // margin-top: 100px;
                        cursor: pointer;

                        .leftright {
                            height: 4px;
                            width: 25px;
                            position: absolute;
                            margin-top: 15px;
                            background-color: $softorange;
                            border-radius: 2px;
                            transform: rotate(45deg);
                            transition: all .3s ease-in;
                        }

                        .rightleft {
                            height: 4px;
                            width: 25px;
                            position: absolute;
                            margin-top: 15px;
                            background-color: $softorange;
                            border-radius: 2px;
                            transform: rotate(-45deg);
                            transition: all .3s ease-in;
                        }

                    }

                    .card__delete:hover .leftright {
                        transform: rotate(-45deg);
                        background-color: $tomatored;
                    }

                    .card__delete:hover .rightleft {
                        transform: rotate(45deg);
                        background-color: $tomatored;
                    }


                }
            }

            .card__isEmpty {
                margin: .5rem 0 1rem 0;
                border: 1px solid #e0e0e0;
                border-radius: 2px;
            }

            .card__btn_clear {
                color: #fff;
                background-color: rgb(48, 47, 47);
                text-align: center;
                letter-spacing: .5px;
                width: 35%;
                padding: 10px;
                font-size: 16px;
                border-radius: 5px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                margin-top: 2.75rem;
                transition: all 0.2s;
            }

            .card__btn_clear:hover {
                background: #000;
                cursor: pointer;
            }

        }
    }
}

.contact {
    top: 30px;
    right: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 18px;

    .contact__links {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .contact__item {
            margin: 5px 8px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

}